
.bg-dark {
    background-color: rgb(61, 61, 61) !important;
}

.text-white{
    color: white
}

.custom-image {
    /* width: calc( 100% - 20px ); */
    border-radius: 20px;
    padding: 10px;
}

.text-bold {
    font-weight: bold;
}

.custom-buttons button, .custom-buttons div {
    border-color: white;
    color: white;
}


.shopping-cart {
    position: fixed;
    right: 10px;
    top: 0px;
}